In [1]:
import pickle

import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import pandas

In [2]:
encoded = pd.read_parquet(
    "/Users/pawellasica/PycharmProjects/asi-project/data/03_primary/labels_encoded.pq"
)

In [3]:
encoded

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23  2.0    1.0      3.0   61.5   55.0    326  3.95  3.98  2.43
1       0.21  3.0    1.0      2.0   59.8   61.0    326  3.89  3.84  2.31
3       0.29  3.0    5.0      5.0   62.4   58.0    334  4.20  4.23  2.63
4       0.31  1.0    6.0      3.0   63.3   58.0    335  4.34  4.35  2.75
5       0.24  4.0    6.0      7.0   62.8   57.0    336  3.94  3.96  2.48
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72  2.0    0.0      2.0   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72  1.0    0.0      2.0   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  4.0    0.0      2.0   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86  3.0    4.0      3.0   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75  2.0    0.0      3.0   62.2   55.0   2757  5.83  5.87  3.64

[50058 rows x 10 columns]

In [4]:
outlier_removed = pd.read_parquet(
    "/Users/pawellasica/PycharmProjects/asi-project/data/02_intermediate/outliers_removed.pq"
)

In [5]:
outlier_removed

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50058 rows x 10 columns]

In [9]:
file = open(
    "/Users/pawellasica/PycharmProjects/asi-project/data/06_models/label_encoder.pkl",
    "rb",
)
encoder = pickle.load(file)

In [10]:
type(encoder)

sklearn.preprocessing._encoders.OrdinalEncoder

In [11]:
cat_col_names = outlier_removed.select_dtypes(include=["object"]).columns.tolist()
data[cat_col_names] = encoder.transform(data[cat_col_names])

In [16]:
cat_col_names = ["cut", "color", "clarity"]

['cut', 'color', 'clarity']

In [13]:
outlier_removed[cat_col_names] = encoder.transform(outlier_removed[cat_col_names])

In [14]:
outlier_removed

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23  2.0    1.0      3.0   61.5   55.0    326  3.95  3.98  2.43
1       0.21  3.0    1.0      2.0   59.8   61.0    326  3.89  3.84  2.31
3       0.29  3.0    5.0      5.0   62.4   58.0    334  4.20  4.23  2.63
4       0.31  1.0    6.0      3.0   63.3   58.0    335  4.34  4.35  2.75
5       0.24  4.0    6.0      7.0   62.8   57.0    336  3.94  3.96  2.48
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72  2.0    0.0      2.0   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72  1.0    0.0      2.0   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  4.0    0.0      2.0   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86  3.0    4.0      3.0   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75  2.0    0.0      3.0   62.2   55.0   2757  5.83  5.87  3.64

[50058 rows x 10 columns]

In [15]:
encoder.categories_

[array(['Fair', 'Good', 'Ideal', 'Premium', 'Very Good'], dtype=object),
 array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object),
 array(['I1', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'],
       dtype=object)]

In [17]:
pd.read_csv("/Users/pawellasica/PycharmProjects/asi-project/data/01_raw/diamonds.csv")

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [18]:
pd.read_parquet(
    "/Users/pawellasica/PycharmProjects/asi-project/data/02_intermediate/index_removed.pq"
)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]